<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.spring.ex00.Getmapper">

	<select id="selectByUserid" resultType="Get">
	select * from ${tblGet} where ${colUserid} = #{userid}
	</select>

	<insert id="insert">
	insert into ${tblGet} (${colUserid}, ${colMid}, ${colGprice}, ${colGdate}) values (#{userid}, #{mid}, #{gprice}, sysdate)
	</insert>
	
	
	<!-- pagination  -->
	<select id="totalCount" resultType="Integer">
	select count(${colGid}) cnt from ${tblGet}
	</select>
	
	<select id="selectPage" resultType="Get">
	select g.${colGid}, g.${colUserid}, g.${colMid}, g.${colGprice}, g.${colGdate}
	from (select rownum rn, a.* 
			from(select * from ${tblGet} order by ${colGid} desc)a
		)g where rn between #{start} and #{end}
	</select>
	
</mapper>