<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="edu.spring.ex00.Membermapper">
  
  <!--회원 가입  -->
<insert id="insert">
insert into podo_member (userid, password, email) values (#{userid}, #{password}, #{email})
</insert>
  
  <!--회원 정보 조회-->
<select id="select" resultType="Member">
select * from podo_member where userid = #{userid} 
</select>  

<!--회원 정보 수정 -->
<update id="update">
update podo_member set password = #{password}, email = #{email} where userid = #{userid}
</update>

<!-- 월 결제 합니다  -->
<update id="month_paid">
update podo_member set memdate = #{memdate} where userid = #{userid}
</update>

<update id="update_point">
update podo_member set point = #{point} where userid = #{userid}
</update>

<select id="select_point" resultType="Integer">
select point from podo_member where userid = #{userid}
</select>


<!-- mp3 다운로드 및 플레이리스트 추가 시 씀 -->
<!-- 장르 count 수 올리기 -->  
<update id="update_genre">
update podo_member set 
<choose>
       <when test="colGenre == 'dance'">
          dance = #{count}
       </when>
       <when test="colGenre == 'ballad'">
          ballad = #{count}
       </when>
       <when test="colGenre == 'hiphop'">
          hiphop = #{count}
       </when>
       <when test="colGenre == 'trot'">
          trot = #{count}
       </when>
       <when test="colGenre == 'indi'">
          indi = #{count}
       </when>
 </choose>
  where userid = #{userid}
</update>

<!-- 원래 count 수 알아오기 -->
<select id="select_genre_count" resultType="Integer">
select 
<choose>
       <when test="colGenre == 'dance'">
          dance 
       </when>
       <when test="colGenre == 'ballad'">
          ballad 
       </when>
       <when test="colGenre == 'hiphop'">
          hiphop 
       </when>
       <when test="colGenre == 'trot'">
          trot 
       </when>
       <when test="colGenre == 'indi'">
          indi 
       </when>
 </choose>
from podo_member where userid = #{userid}
</select>
  
  


</mapper>

  

