<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.spring.ex00.Playlistmapper">

	<select id="selectByUserid" resultType="Playlist">
	select * from ${tblPlaylist} where ${colUserid} = #{userid} order by ${colPdate} desc
	</select>
	
	<select id="selectByPtitle" resultType="Playlist">
	select * from ${tblPlaylist} where ${colPtitle} = #{ptitle}
	</select>
	
	<select id="selectByPid" resultType="Playlist">
	select * from ${tblPlaylist} where ${colPid} = #{pid}
	</select>
	
	<delete id="delete">
	delete from ${tblPlaylist} where ${colPid} = #{pid}
	</delete>
	
	<insert id="insert">
	insert into ${tblPlaylist} (${colUserid}, ${colPdate}, ${colPtitle}) 
		values (#{userid}, sysdate, #{ptitle})
	</insert>

	<!-- 회원 탈퇴했을 때 정보 삭제 -->
	<delete id="delete">
	delete from ${tblPlaylist} where ${colUserid} = #{userid}
	</delete>

	<!-- pagination  -->
	<select id="totalCount" resultType="Integer">
	select count(${colPid}) cnt from ${tblPlaylist} where ${colUserid} = #{userid}
	</select>
	
	<select id="selectPage" resultType="Playlist">
		select g.${colPid}, g.${colUserid}, g.${colMids}, g.${colPtitle}, g.${colPdate}
		from (
		select rownum rn, a.*
		from (
		select * from ${tblPlaylist} where ${colUserid} = #{userid} order by ${colPdate} desc
		) a
		) g where rn between #{start} and #{end}
	</select>
</mapper>