<?xml version="1.0" encoding="UTF-8"?>


<!-- http://www.mybatis.org/mybatis-3/getting-started.html 
          사이트에서 example소스 코딩 복사  -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!--configuration : 테이블,컬럼 등의 상수들로 미리 정의해 놓을 수 있는 이름들을 정의하는 용도로 사용함
                                            나중에 이름이나 값을 변경하고 싶을 때 이 곳에서만 변경 해주면 모두 변경완료 됨 ! -->
  <configuration>
      <properties>
         <!-- name: 내가 원하는 대로, value: DB테이블 이름이랑 동일하게 해야 함 -->
         
         <!-- ★ podo-music의 property -->
         <property name="tblMusic" value="podo_music" /> 
         <property name="colMid" value="mid" />
         <property name="colMalbumart" value="malbumart" />
         <property name="colMtitle" value="mtitle" />
         <property name="colMartist" value="martist" />
         <property name="colMdate" value="mdate"/>    
         <property name="colMgenre" value="mgenre" />
         <property name="colMalbum" value="malbum"/>
         <property name="colMcount" value="mcount"/>
         <property name="colMlyrics" value="mlyrics"/>
     
	
		<!-- podo-get 의 property -->
		<property name="tblGet" value="podo_get"></property>
		<property name="colGid" value="gid"></property>
		<property name="colUserid" value="userid"></property>
		<property name="colMid" value="mid"></property>
		<property name="colGprice" value="gprice"></property>
		<property name="colGdate" value="gdate"></property>
		

		<!-- podo_playlist 의 property -->
     	<property name="tblPlaylist" value="podo_playlist"/>
     	<property name="colPid" value="pid"/>
     	<!-- <property name="colUserid" value="userid"/> -->
     	<property name="colMids" value="mids"/>
     	<property name="colPdate" value="pdate"/>
     	<property name="colPtitle" value="ptitle"/>
     
    	<!--  podo_boardFnA의 property -->
  	
  		<property name="tblBoard" value="podo_board" />
  		<property name="colBno" value="bno" />
  		<property name="colTitle" value="title" />
  		<property name="colContent" value="content" />
  		<property name="colUserid" value="userid"/>
  		<property name="colRegdate" value="regdate"/>
  		
  		
  		<property name="tblMember" value="podo_member"/>
  		<property name="colUserid" value="userid"/>
  		<property name="colPassword" value="password"/>
  		<property name="colEmail" value="email"/>
  		
  		
  
    
    
      </properties>  
      
      <typeAliases>
       <!-- board-mapper.xml의 resultType 또한 패키지 이름을 상수로 정의할 수 있당 -->
       <package name="edu.spring.ex00.domain" />
      </typeAliases>
  </configuration>